/*Mostly Daniel: copy paste from the others, DD:04;**/
* {
    
	font: Calibri,sans-serif !important;
	text-transform: uppercase;
	overflow-wrap: break-word;
}

.wbPage
{
	background : black !important;
}

.wbHeader
{  
	background : black !important;
}

.wbFooter
{
	background : black !important;
}

.wbInputField
{
	color : white !important;
	background : blue !important;
}

.wbLabelText
{
	color : blue !important;
	background: black !important;
}

option
{
	text-align: center !important;
}
.wbStdBtn
{
	width: 100%;
	color : white !important;
	background-color: blue !important;
}

.wbNumBtn
{
	color : white !important;
	background-color: blue !important;
}

.wbContent
{
	background: black;
}